{# FuzAppBundle:Fiddle:bookmark.html.twig #}
{# Included by: FuzAppBundle:Fiddle:index.html.twig #}

{% if is_granted('ROLE_USER') and data.id and app.user != data.user %}

    <button
        id="bookmark"
        type="button"
        class="btn btn-tf-dark domajax click"
        title="Bookmark fiddle {{ hash }} v{{ revision }} - more than a filter, bookmarks let you override titles and tags of any fiddle you don't own"
        aria-label="Bookmark fiddle {{ hash }} v{{ revision }} - more than a filter, bookmarks let you override titles and tags of any fiddle you don't own"
        data-endpoint="{{ path('bookmark_fiddle', {'hash': hash, 'revision': revision}) }}"
        data-input=".bookmark-input"
        data-callback-before="clearFiddleErrors"
        data-callback-success="processBookmarkFiddleResponse"
        data-callback-failure="handleAjaxErrors"
        data-lock=""
    >
        <span class="glyphicon glyphicon {% if bookmark %}glyphicon-star{% else %}glyphicon-star-empty{% endif %}"></span>
    </button>

{% endif %}
