{# FuzAppBundle:Fiddle:context.html.twig #}
{# Included by: FuzAppBundle:Fiddle:index.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">Format</div>
                    {{
                        form_widget(form.context.format, {
                            'attr': {
                                'class': 'switcher-context-format',
                                'data-content-id': form.context.content.vars.id,
                            }
                        })
                    }}
                </div>
                <div class="error-container" id="errors-{{ form.context.format.vars.id }}">{{ form_errors(form.context.format) }}</div>
            </div>

            {% set placeholder %}
Enter your context here...

Example (YAML):
name: Fabien

Example (XML):
<name>Fabien</name>

Example (JSON):
{"name": "Fabien"}

Example (INI):
name = Fabien
            {%- endset %}

            {{
                form_widget(form.context.content, {
                    'attr': {
                        'class': 'codemirror-context',
                        'data-format-id': form.context.format.vars.id,
                        'placeholder': placeholder,
                    }
                })
            }}
            <div class="error-container" id="errors-{{ form.context.content.vars.id }}">{{ form_errors(form.context.content) }}</div>
        </div>
    </div>
</div>
<div id="result-context"></div>
