{# FuzAppBundle:Fiddle:index.html.twig #}
{# Rendered by: FuzAppBundle:Fiddle:index #}

{% extends 'FuzAppBundle::base.html.twig' %}

{% block title %}
{% spaceless %}
    {% if data.id == null %}
        {{ parent() }}
    {% elseif data.title == null %}
        twigfiddle.com - Fiddle {{ data.hash }} v{{ data.revision }} - Created on {{ data.creationTm|date }}
    {% else %}
        twigfiddle.com - {{ data.title }}
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('bundles/fuzapp/jquery-ui-1.11.2/jquery-ui.min.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/fuzapp/codemirror-4.8/lib/codemirror.css') }}" />
<link rel="stylesheet" href="{{ asset('bundles/fuzapp/google-code-prettify/prettify.css') }}">
<link rel="stylesheet" href="{{ asset('bundles/fuzapp/jquery-tagsinput/jquery.tagsinput.css') }}">
{% endblock %}

{% block container %}

    {{
        form_start(form, {
            'attr': {
                'id': 'page-form',
                'role': 'form',
            }
        })
    }}

    {{ parent() }}

    {{ form_end(form) }}

{% endblock %}

{% block header_left %}

{# Twig version #}
<div class="form-group {% if form.twigVersion.vars.errors|length > 0 %}has-error{% endif %}">
    {{ form_widget(form.twigVersion) }}
    <div class="error-container" id="errors-{{ form.twigVersion.vars.id }}">{{ form_errors(form.twigVersion) }}</div>
</div>

{% endblock %}

{% block header_middle %}

<div id="actions">
    {{ include('FuzAppBundle:Fiddle:actions.html.twig') }}
</div>

{% endblock %}

{% block header_right %}

    {{ parent() }}

{% endblock %}

{% block content %}

{# General errors #}
<div id="general-errors">
    {{ macros.form_general_errors(form) }}
</div>

{# Revision browser, title, tags #}
<div class="row {% if data.id == null %}hide{% endif %}" {% if data.id == null %}aria-hidden="true"{% endif %}>

    <div class="clear">&nbsp</div>

    {% if data.id %}
        {{ include('FuzAppBundle:Fiddle:revision.html.twig') }}
    {% endif %}
    <div class="{% if data.id %}col-md-3 col-sm-6 col-xs-12{% else %}col-md-6 col-sm-12 col-xs-12{% endif %} title">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Title</div>
                {{
                    form_widget(form.title, {
                        'attr': {
                            'class': 'bookmark-input',
                            'placeholder': 'Optional title, related URL, ...',
                        },
                    })
                }}
            </div>
        </div>
    </div>
    <div class="{% if data.id %}col-md-3 col-sm-6 col-xs-12{% else %}col-md-6 col-sm-12 col-xs-12{% endif %} tags">
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Tags</div>
                {{
                    form_widget(form.tags, {
                        'attr': {
                            'class': 'bookmark-input tags-input',
                        },
                    })
                }}
            </div>
        </div>
    </div>

</div>

{# Panes #}
<div class="row" id="content">

    {# Start Left Side #}
    <div class="col-md-6">

        {# Templates Pane #}
        <div id="templates-pane">
            {{ include('FuzAppBundle:Fiddle:templates.html.twig') }}
        </div>

    </div>
    {# End Left Side #}

    <div class="clearfix hidden-md hidden-lg">&nbsp;</div>

    {# Start Right Side #}
    <div class="col-md-6">

        <div id="context-pane">
            {{ include('FuzAppBundle:Fiddle:context.html.twig') }}
        </div>

        <div id="result-pane"></div>

    </div>
    {# End Right Side #}

    {# CSRF token #}
    {{
        form_widget(form._token, {
            'attr': {
                'class': 'bookmark-input',
            }
        })
    }}

</div>

<p class="text-center fiddle-owner">{{ macros.fiddle(data, true) }}</p>

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ asset('bundles/fuzapp/jquery-ui-1.11.2/jquery-ui.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/js/jquery.symfony2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/js/jquery.domajax.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/js/jquery.selecttext.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/google-code-prettify/prettify.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/google-code-prettify/run_prettify.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/jquery-tagsinput/jquery.tagsinput.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/jquery.AreYouSure-1.9.0/jquery.are-you-sure.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/lib/codemirror.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/jinja2/jinja2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/yaml/yaml.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/xml/xml.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/javascript/javascript.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/properties/properties.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/addon/display/placeholder.js') }}"></script>
{% endblock %}

{% block script %}
{{ include('FuzAppBundle:Fiddle:script.html.twig') }}
{% endblock %}
