{# FuzAppBundle:Fiddle:index.html.twig #}
{% extends 'FuzAppBundle::base.html.twig' %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('bundles/fuzapp/codemirror-4.8/lib/codemirror.css') }}" />
{% endblock %}

{% block header_left %}

{# Twig version #}
<div class="form-group {% if form.twigVersion.vars.errors|length > 0 %}has-error{% endif %}">
    {{ form_widget(form.twigVersion) }}
    <div class="error-container" id="errors-{{ form.twigVersion.vars.id }}">{{ form_errors(form.twigVersion) }}</div>
</div>

{% endblock %}

{% block header_middle %}

 {# Run button #}
<button
    type="button"
    class="btn btn-primary domajax click"
    data-endpoint="{{ path('run_fiddle', {'hash': hash, 'revision': revision}) }}"
    data-input="#page-container"
    data-callback-success="processRunFiddleResponse"
    data-lock="#actions"
    data-replace="#results"
    data-replace-by="#wait"
><span class="glyphicon glyphicon glyphicon-play hidden-md hidden-sm hidden-xs"></span> Run</button>

<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-floppy-disk hidden-md hidden-sm hidden-xs"></span> Save</button>

<button type="button" class="btn btn-primary"><span class="glyphicon glyphicon glyphicon-floppy-disk hidden-md hidden-sm hidden-xs"></span> Share</button>
{% endblock %}

{% block content %}

<div class="error-container" id="general-errors">{{ macros.form_general_errors(form) }}</div>

{# Revision browser, title, tags #}
<div class="row">
    <div class="col-md-3">
        <select class="form-control input-sm">
            <option>Revision 2014-03-01 20.53</option>
            <option>Revision 2014-02-05 10.20</option>
        </select>
    </div>
    <div class="col-md-4 title"><strong>TITLE</strong> : This is my title</div>
    <div class="col-md-5 tags"><strong>TAGS</strong> : word, word, word, word </div>
</div>

<div class="clear">&nbsp</div>

{# Panes #}
<div class="row" id="content">

    {# Start Left Side #}
    <div class="col-md-6">

        {# Templates Pane #}
        <div id="templates-pane">
            {{ include('FuzAppBundle:Fiddle:templates-pane.html.twig') }}
        </div>

    </div>
    {# End Left Side #}

    <div class="clearfix hidden-md hidden-lg">&nbsp;</div>

    {# Start Right Side #}
    <div class="col-md-6">

        <div id="context-pane">
            {{ include('FuzAppBundle:Fiddle:context-pane.html.twig') }}
        </div>

        <div id="results"></div>

        {#
        <div class="clearfix">&nbsp;</div>

        <!-- Start Result Bloc -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Format</div>
                        <select class="form-control input-sm">
                            <option>Plained Text</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">Generated File(s)</div>
                        <select class="form-control input-sm">
                            <option>file.php</option>
                            <option>...</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <textarea class="form-control" rows="16" placeholder="RESULT"></textarea>
            </div>
        </div>
        <!-- End Result Bloc -->
        #}

    </div>
    {# End Right Side #}

    {# CSRF token #}
    {{ form_rest(form) }}

{% endblock %}

{% block extra_js %}
<script type="text/javascript" src="{{ asset('bundles/fuzapp/js/jquery.symfony2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/js/jquery.domajax.js') }}"></script>

<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/lib/codemirror.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/jinja2/jinja2.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/yaml/yaml.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/xml/xml.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/javascript/javascript.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/codemirror-4.8/mode/properties/properties.js') }}"></script>
{% endblock %}

{% block script %}
{{ include('FuzAppBundle:Fiddle:script.html.twig') }}
{% endblock %}
