{# FuzAppBundle:Fiddle:options.html.twig #}
{# Included by: FuzAppBundle:Fiddle:version.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<a
    href="#"
    title="You can open samples in new tab to get started with twigfiddle"
    class="white"
    data-toggle="modal"
    data-target="#options-modal">More options...</a>

{% set body %}

    <div class="text-left">

        {# Debug Mode (stateless option, will dump Result object in the right pane #}
        {% if 'dev' == app.environment %}
            <div class="form-group full-width">
                <div class="input-group full-width">
                    <div class="input-group-addon" style="width: 37px;">{{ form_widget(form.debug) }}</div>
                    <div class="form-control">
                        <label for="{{ form.debug.vars.id }}">
                            Enable Debug Mode (development environment only)
                        </label>
                    </div>
                </div>
                <div class="error-container" id="errors-{{ form.debug.vars.id }}">{{ form_errors(form.debug) }}</div>
            </div>

            <hr/>

        {% endif %}

        {# Non-native extensions #}
        <div class="control-group">
            <label class="control-label" for="selectbasic">
                Enable non-native Twig extensions
                (<a class="dark" href="http://twig.sensiolabs.org/doc/extensions/index.html" target="_blank">read more</a>)
            </label>
            <div class="controls">
                {{ form_widget(form.twigExtension) }}
            </div>
            <div class="error-container" id="errors-{{ form.twigExtension.vars.id }}">{{ form_errors(form.twigExtension) }}</div>
        </div>

        <br/>

        {# C extension #}
        <div class="form-group full-width">
            <div class="input-group full-width">
                <div class="input-group-addon" style="width: 37px;">{{ form_widget(form.withCExtension) }}</div>
                <div class="form-control">
                    <label for="{{ form.withCExtension.vars.id }}">
                        Enable the C extension
                        (<a class="dark" href="http://twig.sensiolabs.org/doc/installation.html#installing-the-c-extension" target="_blank">read more</a>)
                    </label>
                </div>
            </div>
            <div class="error-container" id="errors-{{ form.withCExtension.vars.id }}">{{ form_errors(form.withCExtension) }}</div>
        </div>

        {# Strict Variables mode #}
        <div class="form-group full-width">
            <div class="input-group full-width">
                <div class="input-group-addon" style="width: 37px;">{{ form_widget(form.withStrictVariables) }}</div>
                <div class="form-control">
                    <label for="{{ form.withStrictVariables.vars.id }}">
                        Enable Strict Variables mode
                        (<a class="dark" href="http://twig.sensiolabs.org/doc/templates.html#variables" target="_blank">read more</a>)
                    </label>
                </div>
            </div>
            <div class="error-container" id="errors-{{ form.withStrictVariables.vars.id }}">{{ form_errors(form.withStrictVariables) }}</div>
        </div>

    </div>

{% endset %}

{{ macros.modal('options-modal', 'Other options', body) }}
