{# FuzAppBundle:Fiddle:templates-theme.html.twig #}
{# Used by: form_widget(template) in: FuzAppBundle:Fiddle:templates.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% block FiddleTemplateType_label %}{% endblock %}
{% block FiddleTemplateType_errors %}{% endblock %}

{% block FiddleTemplateType_widget %}
{% spaceless %}
<div id="row-{{ form.content.vars.id }}" class="template" data-id="{{ form.content.vars.id }}">
    <div class="form-group">
        <div class="row">
            <div class="filename-template-div col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">File</div>
                        {{ form_widget(form.filename) }}
                    </div>
                    <div class="error-container" id="errors-{{ form.filename.vars.id }}">{{ form_errors(form.filename) }}</div>
                </div>
            </div>
            <div class="main-template-div col-md-3 col-sm-3  col-xs-8 text-center hide" aria-hidden="true">
               <button
                   title="Select this file as main template"
                   class="btn {% if form.main.vars.data %}btn-tf-green{% else %}btn-default{% endif %} btn-sm btn-twigfiddle main-template"
                   data-id="{{ form.content.vars.id }}"
                   type="button">
                   <span class="glyphicon {% if form.main.vars.data %}glyphicon-check{% else %}glyphicon-unchecked{% endif %}"></span> Set as main template
               </button>
            </div>
            <div class="delete-template-div col-md-2 col-sm-2  col-xs-4 text-right hide" aria-hidden="true">
                <button
                    title="Delete this template"
                    aria-label="Delete this template"
                    class="btn btn-default btn-sm btn-twigfiddle delete-template"
                    data-id="{{ form.content.vars.id }}"
                    type="button">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
        <div class="hide">
            {{
                form_widget(form.main, {
                    'attr': {
                        'autocomplete': 'off',
                    }
                })
            }}
        </div>

            {% set placeholder %}
Type your Twig template here...

Example:
Hello, {% verbatim %}{{ name }}{% endverbatim %}!
            {%- endset %}
         {{
            form_widget(form.content, {
                'attr': {
                    'class': 'codemirror-template',
                    'placeholder': placeholder,
                },
            })
         }}
         <div class="error-container" id="errors-{{ form.content.vars.id }}">{{ form_errors(form.content) }}</div>
    </div>
</div>
{% endspaceless %}
{% endblock %}
