{# FuzAppBundle:Fiddle:templates-theme.html.twig #}

{# We need to define the required layout in a theme because we need a field prototype #}

{% block FiddleTemplateType_label %}{% endblock %}
{% block FiddleTemplateType_errors %}{% endblock %}

{% block FiddleTemplateType_widget %}
{% spaceless %}
    <tr id="row-{{ form.content.vars.id }}" class="template" data-id="{{ form.content.vars.id }}">
        <td>
            <div>{{ form_widget(form.filename) }}</div>
            {% if form.filename.vars.errors|length > 0 %}
                {% for error in form.filename.vars.errors %}
                    <div class="control-label text-danger">{{ error.message }}</div>
                {% endfor %}
            {% endif %}
        </td>
        <td>
            <div>
                {{
                    form_widget(form.isMain, {
                        'attr': {
                            'class': 'main-template',
                            'data-id': form.content.vars.id
                        }
                    })
                }}
                {{ form_widget(form.content) }}
            </div>
        </td>
        <td class="text-center">
            <button class="btn btn-default btn-sm delete-template" data-id="{{ form.content.vars.id }}" type="button">
                <span class="glyphicon glyphicon glyphicon-trash"></span>
            </button>
        </td>
    </tr>
{% endspaceless %}
{% endblock %}
