{# FuzAppBundle:Fiddle:visibility.html.twig #}
{# Included by: FuzAppBundle:Fiddle:index.html.twig #}

<div class="hide">
    {{ form_widget(form.visibility) }}
</div>

{% if is_granted('ROLE_USER') %}

    {% from _self import button %}
    {% macro button(visibility, action, data) %}

        <button
            type="button"
            data-value="{{ visibility.value | e('html_attr') }}"
            {% if action == 'open-modal' %}
                class="btn btn-tf-dark {% if visibility.value != data.visibility %}hide{% endif %} visibility-open-modal"
                data-toggle="modal"
                data-target="#visibility-modal"
            {% elseif action == 'selection' %}
                class="btn btn-{{ visibility.color }} visibility-selection"
                data-dismiss="modal"
            {% endif %}
        >
            <span class="glyphicon glyphicon {{ visibility.glyphicon }} hidden-md hidden-sm hidden-xs"></span>
            <span class="{% if action == 'open-modal' %}text-light-{{ visibility.color }}{% endif %}">{{ visibility.label }}</span>
        </button>

    {% endmacro %}

    {% set body %}

        <p class="text-left">
            You can choose the way your fiddle will be available to the public.
            <br/>
            Click on the button that fits with your needs.
        </p>

        <div class="clear">&nbsp;</div>

        {# public #}
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-left visibility-button">{{ button(visibilities[public], 'selection') }}</div>
            <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                Everybody can access your fiddle, by using its direct URL, or by using the <a class="green" href="{{ path('browse') }}">fiddle browser</a>.
            </div>
        </div>

        <div class="clear">&nbsp;</div>

        {# unlisted #}
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-left visibility-button">{{ button(visibilities[unlisted], 'selection') }}</div>
            <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                Only people who knows fiddle's direct URL will be able to access your fiddle.
            </div>
        </div>

        <div class="clear">&nbsp;</div>

        {# private #}
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 text-left visibility-button">{{ button(visibilities[private], 'selection') }}</div>
            <div class="col-md-8 col-sm-6 col-xs-12 text-left">
                Only you, {{ macros.me() }}, will be able to access your fiddle.
            </div>
        </div>

        <div class="clear">&nbsp;</div>

        <p class="text-left">
            Changes are only applied after clicking "Save" button.
        </p>

    {% endset %}

    {{ macros.modal('visibility-modal', "Fiddle's visibility", body) }}

    {% for visibility in visibilities %}
        {{ button(visibility, 'open-modal', data) }}
    {% endfor %}

{% endif %}
