{#
 # FuzAppBundle::base.html.twig
 #
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% import "FuzAppBundle::macros.html.twig" as macros %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="twigfiddle.com provides a small development environment to develop, run, store and access Twig code online.">
        <meta name="author" content="Alain Tiemblo">
        <title>{% block title %}twigfiddle.com - Develop, run, store and access Twig code online{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

        {# CSS #}
        {% block css %}
            <link rel="stylesheet" href="{{ asset('bundles/fuzapp/css/bootstrap.css') }}">
            {% block extra_css %}{% endblock %}
            <link rel="stylesheet" href="{{ asset('bundles/fuzapp/css/twig.css') }}">
        {% endblock %}

        <script src='https://www.google.com/recaptcha/api.js?onload=reCaptchaNowReady&render=explicit' async defer></script>
    </head>

    <body>

         {# Start Container #}
        <div class="container-fluid">
            {% block container %}

                {# Start Header #}
                <div class="row" id="header">
                    <div class="col-md-2 col-sm-6 col-xs-6 logo"><a href="{{ path('fiddle') }}"><img src="{{ asset('bundles/fuzapp/img/logo_twig-fiddle.png') }}" alt="Twig Fiddle"></a></div>
                    <div class="col-md-2 col-sm-6 col-xs-6 version">
                        {% block header_left %}&nbsp;{% endblock %}
                    </div>
                    <div class="clearfix hidden-md hidden-lg"></div>
                    <div id="actions" class="col-md-3 col-sm-6 col-xs-12 top-menu text-right">
                        {% block header_middle %}&nbsp;{% endblock %}
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 user-menu text-right">
                        {% block header_right %}

                            {# Browse #}
                            {% block browse %}
                                {{ include('FuzAppBundle:Browse:button.html.twig') }}
                            {% endblock %}

                            {# Samples #}
                            {{ render(controller('FuzAppBundle:Fiddle:samples')) }}

                            {# About #}
                            <a
                                title="Get help to use twigfiddle and learn who is behind"
                                class="btn btn-tf-dark"
                                href="{{ path('about') }}">
                               <span class="glyphicon glyphicon glyphicon-info-sign hidden-md hidden-sm hidden-xs"></span>
                               About
                            </a>

                            {# Login / Logout #}
                            {% if is_granted('ROLE_USER') %}
                                <a
                                    title="Logout from twigfiddle"
                                    href="{{ path('logout') }}"
                                    class="btn btn-tf-green">
                                    <span class="glyphicon glyphicon glyphicon-log-out hidden-md hidden-sm hidden-xs"></span>
                                    Logout
                                </a>
                            {% else %}
                                <a
                                    title="Login to twigfiddle"
                                    href="#"
                                    class="btn btn-tf-green"
                                    data-toggle="modal"
                                    data-target="#login-modal">
                                    <span class="glyphicon glyphicon glyphicon-log-in hidden-md hidden-sm hidden-xs"></span>
                                    Login
                                </a>
                                {{ include('FuzAppBundle:User:modal.html.twig') }}
                            {% endif %}

                        {% endblock %}
                    </div>
                </div>
                {# End Header #}

                {# Start Body #}
                    {% block content %}{% endblock %}
                {# End Body #}

                <div class="clear"></div>

                {# Start Footer #}
                <div class="row" id="footer">
                    <div class="col-md-12 text-center">

                       {% block logged_as %}
                           <div class="white">
                              {% if is_granted('ROLE_USER') %}
                                 Logged as {{ macros.me() }}
                              {% else %}
                                 Not logged in.
                              {% endif %}
                              <div>&nbsp;</div>
                           </div>
                       {% endblock %}

                        <p>
                            <span>twigfiddle.com @ 2015</span>
                            <br/>
                            <a
                                title="Click here to ask a question about twigfiddle"
                                href="https://groups.google.com/forum/#!forum/twigfiddle">Ask a question</a>
                            <span class="space"></span>
                            <a
                                title="Click here if you found an issue or want a new feature"
                                href="{{ github_repository_root }}/issues">Report issue</a>
                            <span class="space"></span>
                            <a
                                title="Click here to download twigfiddle's source code and contribute"
                                href="{{ github_repository_root }}">Download source code</a>
                        </p>
                    </div>
                </div>


                {{ include('FuzAppBundle::captcha.html.twig') }}
                {# End Footer #}

            {% endblock %}
        </div>
       {# End Container #}

        {# Wait gif #}
        <div id="wait" class="hide" aria-hidden="true">
            <div class="text-center">
                <img src="{{ asset('bundles/fuzapp/img/wait.gif') }}" alt="Please wait..."/>
            </div>
        </div>

        {# JS #}
        {% block js %}
            <script src="{{ asset('bundles/fuzapp/js/jquery-2.1.1.min.js') }}"></script>
            <script src="{{ asset('bundles/fuzapp/js/bootstrap.min.js') }}"></script>
            {% block extra_js %}{% endblock %}
        {% endblock %}

        {% block script %}{% endblock %}

        {# Google Analytics #}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
              })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
              ga('create', '{{ google_analytics_tracking_id }}', 'auto');
              ga('send', 'pageview');
        </script>

    </body>
</html>
