{# FuzAppBundle::macros.html.twig #}
{# Imported by: FuzAppBundle::base.html.twig #}

{% macro modal(id, title, body, ok_endpoint, options) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><div class="text-left">{{ title }}</div></h4>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {% if ok_endpoint %}
                        <button
                            type="button"
                            data-endpoint="{{ ok_endpoint }}"
                            data-input="#{{ id }}"
                            {% if options %}{{ options }}{% endif %}
                            class="btn btn-primary domajax click">OK</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro form_general_errors(form) %}
    {%- if form.vars.errors|length > 0 -%}
        {%- for error in form.vars.errors -%}
            <div class="error">{{- error.message -}}</div>
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}

{% macro form_specific_errors(field) %}
    {% if field.vars.errors|length > 0 %}
        {%- for error in field.vars.errors -%}
        <div class="control-label text-danger">{{ error.message }}</div>
        {%- endfor -%}
    {% endif %}
{% endmacro %}

{% macro box(color, title, message) %}

    {%
        set colors = {
            'black': {
                'img': asset('bundles/fuzapp/img/flags/black.gif'),
                'background': '#DDDDDD',
                'color': '#000000',
            },
            'red': {
                'img': asset('bundles/fuzapp/img/flags/red.gif'),
                'background': '#FFDDDD',
                'color': '#FF0000',
            },
            'yellow': {
                'img': asset('bundles/fuzapp/img/flags/yellow.gif'),
                'background': '#FFFFDD',
                'color': '#A76726',
            },
            'green': {
                'img': asset('bundles/fuzapp/img/flags/green.gif'),
                'background': '#DDFFDD',
                'color': '#006600',
            },
            'blue': {
                'img': asset('bundles/fuzapp/img/flags/blue.gif'),
                'background': '#DDDDFF',
                'color': '#000066',
            },
        }
    %}

    {% set config = colors[color]|default(colors['black']) %}

    <div class="row">
        <div class="col-md-12">
            <div class="box-style" style="background-color:{{ config.background }};color:{{ config.color }};border:1px solid {{ config.color }};">
                <div class="text-center">
                    <img src="{{ config.img }}" alt="{{ color|title }} Flag" class="flag" />
                    <p><strong>{{ title }}</strong></p>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}