{# FuzAppBundle::macros.html.twig #}

{% macro modal(id, title, body, ok_endpoint, options) %}

    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><div class="text-left">{{ title }}</div></h4>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    {% if ok_endpoint %}
                        <button
                            type="button"
                            data-endpoint="{{ ok_endpoint }}"
                            data-input="#{{ id }}"
                            {% if options %}{{ options }}{% endif %}
                            class="btn btn-primary domajax click">OK</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endmacro %}
