{# FuzAppBundle::macros.html.twig #}
{# Imported by: FuzAppBundle::base.html.twig #}

{% macro modal(id, title, body, options) %}

    {%
        set defaults = {
            'ok-endpoint': null,
            'ok-options': null,
            'modal-class': null,
        }
    %}
    {% set options = defaults|merge(options|default({})) %}

    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="true">
        <div class="modal-dialog {{ options['modal-class'] }}">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><div class="text-left">{{ title }}</div></h4>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {% if options['ok-endpoint'] %}
                        <button
                            type="button"
                            data-endpoint="{{ options['ok-endpoint'] }}"
                            data-input="#{{ id }}"
                            {% if options['ok-options'] %}{{ options['ok-options'] }}{% endif %}
                            class="btn btn-primary domajax click">OK</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro form_general_errors(form) %}
    {%- if form.vars.errors|length > 0 -%}
        {%- for error in form.vars.errors -%}
            <p class="error-message error">{{- error.message -}}</p>
        {%- endfor -%}
    {%- endif -%}
{% endmacro %}

{% macro form_specific_errors(field) %}
    {% if field.vars.errors|length > 0 %}
        {%- for error in field.vars.errors -%}
        <div class="control-label text-danger">{{ error.message }}</div>
        {%- endfor -%}
    {% endif %}
{% endmacro %}

{% macro box(color, title, message) %}

    {%
        set colors = {
            'black': {
                'img': asset('bundles/fuzapp/img/flags/black.gif'),
                'background': '#DDDDDD',
                'color': '#000000',
            },
            'red': {
                'img': asset('bundles/fuzapp/img/flags/red.gif'),
                'background': '#FFDDDD',
                'color': '#FF0000',
            },
            'yellow': {
                'img': asset('bundles/fuzapp/img/flags/yellow.gif'),
                'background': '#FFFFDD',
                'color': '#A76726',
            },
            'green': {
                'img': asset('bundles/fuzapp/img/flags/green.gif'),
                'background': '#DDFFDD',
                'color': '#006600',
            },
            'blue': {
                'img': asset('bundles/fuzapp/img/flags/blue.gif'),
                'background': '#DDDDFF',
                'color': '#000066',
            },
        }
    %}

    {% set config = colors[color]|default(colors['black']) %}

    <div class="row">
        <div class="col-md-12">
            <div class="box-style" style="background-color:{{ config.background }};color:{{ config.color }};border:1px solid {{ config.color }};">
                <div class="text-center">
                    <img src="{{ config.img }}" alt="{{ color|title }} Flag" class="flag" />
                    <p><strong>{{ title }}</strong></p>
                    <p>{{ message }}</p>
                </div>
            </div>
        </div>
    </div>

{% endmacro %}

{% macro me() %}
    {% spaceless %}
        {% if is_granted('ROLE_USER') %}
            {{ _self.user('', app.user) }}
        {% else %}
            Guest
        {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro user(prefix, user) %}
    {%- spaceless %}
        {% if user != null %}
            {{ prefix }}
           <img class="user-image" src="{{ asset('bundles/fuzapp/img/oauth/' ~ user.resourceOwner ~ '-small.png') }}" alt=""/>
           {{ user.username }}
        {% endif %}
    {% endspaceless -%}
{% endmacro %}

{% macro fiddle(fiddle, showVisits) %}
   {% set isMyFiddle = (is_granted('ROLE_USER') and fiddle.user|default(null) and app.user.isEqualTo(fiddle.user)) %}
   {%- spaceless %}
      Fiddle
      <a href="{{ path('fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}" target="_blank" class="green">{{ fiddle.hash }} {% if fiddle.revision > 1 %}v{{ fiddle.revision }}{% endif %}</a>
      created on {{ fiddle.creationTm|date }}
      {% if fiddle.user|default(null) %}
         {% if isMyFiddle %}by <i>yourself</i>{% else %}{{ _self.user('by', fiddle.user|default(null)) }}{% endif %}
      {% endif %}
      {% if showVisits %}
         and visited {{ fiddle.visitsCount }} times
      {% endif %}
   {% endspaceless -%}
{% endmacro %}