{# FuzAppBundle::macros.html.twig #}

{% macro modal(id, title, body, ok_endpoint, options) %}
    <div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="{{ id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><div class="text-left">{{ title }}</div></h4>
                </div>
                <div class="modal-body">
                    {{ body }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    {% if ok_endpoint %}
                        <button
                            type="button"
                            data-endpoint="{{ ok_endpoint }}"
                            data-input="#{{ id }}"
                            {% if options %}{{ options }}{% endif %}
                            class="btn btn-primary domajax click">OK</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro form_general_errors(form) %}
    {% if form.vars.errors|length > 0 %}
        <div class="row" id="errors">
            <div class="col-md-12 alert alert-danger text-center">
                {% for error in form.vars.errors %}
                    <div class="error">{{ error.message }}</div>
                {% endfor %}
            </div>
            <div>&nbsp;</div>
        </div>
    {% endif %}
{% endmacro %}

{% macro form_specific_errors(field) %}
    {% if field.vars.errors|length > 0 %}
        {%- for error in field.vars.errors -%}
            <div class="control-label text-danger">{{ error.message }}</div>
        {%- endfor -%}
    {% endif %}
{% endmacro %}
