{# FuzAppBundle:Browse:fiddles.html.twig #}
{# Included by: FuzAppBundle:Browse:search.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

{% macro list_fiddles(list) %}
    {% for index, fiddle in list %}
        <div
            id="fiddle-{{ fiddle.hash }}_{{ fiddle.revision }}"
            class="fiddle-result {% if (index + 1) != list|length %}bottomline{% endif %}"
            data-endpoint="{{ path('browse_result', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}"
            data-output=""
            data-replace=""
            data-replace-by="#wait"
        >
            {{ render(controller('FuzAppBundle:Browse:result', {'hash': fiddle.hash, 'revision': fiddle.revision})) }}
        </div>
    {% endfor %}
{% endmacro %}

<div class="row" id="result">

    {# Left side #}
    <div class="col-md-6">
        {{ _self.list_fiddles(list_left) }}
    </div>

    <div class="clearfix hidden-md hidden-lg">&nbsp;</div>

    {# Right side #}
    <div class="col-md-6">
        {{ _self.list_fiddles(list_right) }}
    </div>

</div>
