{# FuzAppBundle:Browse:filters.html.twig #}
{# Included by: FuzAppBundle:Browse:search.html.twig #}

{{
    form_start(filters, {
        'attr': {
            'id': filters.vars.id,
            'class': 'form-inline',
            'role': 'form',
        }
    })
}}

{% macro display_submit(filters) %}

    <button
        type="button"
        class="btn btn-default domajax click"
        data-endpoint="{{ path('browse_search') }}"
        data-input="#{{ filters.vars.id }}"
        data-lock="#{{ filters.vars.id }}"
        data-output="#search-container"
        data-replace="#result-container"
        data-replace-by="#wait"
    >OK</button>

{% endmacro %}

<div class="row" id="search">

    {# Keywords filter #}
    <div class="{% if is_granted('ROLE_USER') %}col-md-3{% else %}col-md-6{% endif %} col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="sr-only">Keywords</label>
            <p class="form-control-static">Keywords</p>
        </div>
        <div class="form-group">
            <label class="sr-only">search for...</label>
            {{
                form_widget(filters.keywords, {
                    'attr': {
                        'placeholder': 'Search for...',
                    }
                })
            }}
        </div>
        {{ _self.display_submit(filters) }}
        <div class="error-container">{{ form_errors(filters.keywords) }}</div>
    </div>

    {# Tags filter #}
    <div class="{% if is_granted('ROLE_USER') %}col-md-3{% else %}col-md-6{% endif %} col-sm-6 col-xs-12">
        <div class="form-group">
            <label class="sr-only">Tags</label>
            <p class="form-control-static">Tags</p>
        </div>
        <div class="form-group tags">
            <label class="sr-only">Filter Tags...</label>
            {{
                form_widget(filters.tags, {
                    'attr': {
                        'placeholder': 'Filter tags...',
                        'class': 'tags-input',
                    }
                })
            }}
        </div>
        {{ _self.display_submit(filters) }}
       <div class="error-container">{{ form_errors(filters.tags) }}</div>
    </div>

    <div class="clearfix hidden-md hidden-lg">&nbsp;</div>

    {% if is_granted('ROLE_USER') %}

        {# Search ticks #}
        <div class="col-md-3 col-sm-6 col-xs-12">

            <label class="checkbox-inline" for="{{ filters.mine.vars.id }}">
                {{
                    form_widget(filters.mine, {
                        'attr': {
                            'aria-label': 'Search my fiddles',
                        }
                    })
                }}
                Search my fiddles
            </label>

            <label class="checkbox-inline" for="{{ filters.bookmark.vars.id }}">
                {{
                    form_widget(filters.bookmark, {
                        'attr': {
                            'aria-label': 'Search in bookmarks',
                        }
                    })
                }}
                Search in bookmarks
            </label>

        </div>

        {# Visibility filter #}
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="form-group">
                <label class="sr-only">Visibility</label>
                <p class="form-control-static">Visibility</p>
            </div>
            <div class="form-group">
                <label class="sr-only">Fiddle's visibility</label>
                {{ form_widget(filters.visibility) }}
            </div>
            {{ _self.display_submit(filters) }}
        </div>
       <div class="error-container">{{ form_errors(filters.visibility) }}</div>

    {% else %}

        <div class="hide">
            {{ form_rest(filters) }}
        </div>

    {% endif %}

</div>

{{ form_end(filters) }}
