{# FuzAppBundle:Browse:index.html.twig #}
{# Rendered by: FuzAppBundle:Browse:index #}

{% extends 'FuzAppBundle::base.html.twig' %}

{% block browse %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ asset('bundles/fuzapp/jquery-tagsinput/jquery.tagsinput.css') }}">
{% endblock %}

{% block header_middle %}

    {# Create new fiddle #}
    <a
        class="btn btn-tf-green"
        href="{{ path('fiddle') }}"
        title="Go to the fiddle editor"
        aria-label="Go to the fiddle editor">
        <span class="glyphicon glyphicon glyphicon-file hidden-md hidden-sm hidden-xs"></span>
        Create new fiddle
    </a>

{% endblock %}

{% block content %}

    <div id="search-container">
        {{ render(controller('FuzAppBundle:Browse:search', {'tag': tag})) }}
    </div>

{% endblock %}

 {% block extra_js %}
<script type="text/javascript" src="{{ asset('bundles/fuzapp/js/jquery.domajax.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/fuzapp/jquery-tagsinput/jquery.tagsinput.js') }}"></script>
 {% endblock %}

{% block script %}
{{ include('FuzAppBundle:Browse:script.html.twig') }}
{% endblock %}
