{# FuzAppBundle:Browse:result.html.twig #}
{# Rendered by: FuzAppBundle:Browse:result #}

{% extends 'FuzAppBundle::base-ajax.html.twig' %}

{% block content %}

{% set public = constant('Fuz\\AppBundle\\Entity\\Fiddle::VISIBILITY_PUBLIC') %}
{% set unlisted = constant('Fuz\\AppBundle\\Entity\\Fiddle::VISIBILITY_UNLISTED') %}
{% set private = constant('Fuz\\AppBundle\\Entity\\Fiddle::VISIBILITY_PRIVATE') %}

{%
    set visibilities = {
        (public): {
            'label': 'Public',
            'color': 'success',
        },
        (unlisted): {
            'label': 'Unlisted',
            'color': 'warning',
        },
        (private): {
            'label': 'Private',
            'color': 'danger',
        },
    }
%}

{% set index = fiddle.hash ~ '_' ~ fiddle.revision %}

{% set isMyFiddle = (is_granted('ROLE_USER') and fiddle.user|default(null) and app.user.isEqualTo(fiddle.user)) %}

<div class="row searchbloc">

    {{
        form_start(form, {
            'id': form.vars.id ~ '_' ~ index,
        })
    }}

    <div class="col-md-12">

        {# General #}
        <p>
            {% if is_granted('ROLE_USER') %}
                <span class="label label-{{ visibilities[fiddle.visibility].color}}">{{ visibilities[fiddle.visibility].label|lower }}</span>
            {% endif %}
            Fiddle
            <a href="{{ path('fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}" class="green">{{ fiddle.hash }} {% if fiddle.revision > 1 %}v{{ fiddle.revision }}{% endif %}</a>
            created on {{ fiddle.creationTm|date }}
            {% if isMyFiddle %}by <i>yourself</i>{% else %}{{ macros.user('by', fiddle.user|default(null)) }}{% endif %}
        </p>

        {# Title #}
        <div>
            <p class="ro-{{ index }}">
                {% if fiddle.title|length > 0 %}
                    {{ fiddle.title }}
                {% else %}
                    <span class="unavailable">(No title)</span>
                {% endif %}
            </p>
            <p class="input-{{ index }} hide">
                {{
                    form_widget(form.title, {
                        'id': form.title.vars.id ~ '_' ~ index,
                    })
                }}
            </p>
            <div id="error-{{ form.title.vars.id ~ '_' ~ index }}" class="error-container">{{ form_errors(form.title) }}</div>
        </div>

        {# Tags #}
        <div>
            <p class="ro-{{ index }} {% if fiddle.tags|length == 0 %}hide{% endif %}">
                {% for tag in fiddle.tags %}
                    <span class="static-tag"><span>{{ tag.tag }}</span></span>
                {% endfor %}
            </p>
            <p class="input-{{ index }} hide tags">
                {{
                    form_widget(form.tags, {
                        'attr': {
                            'class': 'tags-input',
                         },
                         'id': form.tags.vars.id ~ '_' ~ index,
                    })
                }}
            </p>
            <div id="error-{{ index }}" class="error-container">{{ form_errors(form.tags) }}</div>
        </div>

         {# Visits #}
        <p class="clear">
            Visited {{ fiddle.visitsCount }} time{% if fiddle.visitsCount != 1 %}s{% endif %}{% if fiddle.visitsCount > 0 %}, last one on  {{ fiddle.updateTm|date }}{% endif %}
        </p>

    </div>

     <div class="col-md-12">

         {% if is_granted('ROLE_USER') and isMyFiddle == false %}

             {# Bookmark / Unbookmark #}
            <button
                type="button"
                class="btn btn-tf-dark domajax click"
                data-endpoint="{{ path('bookmark_fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}"
                data-input="#fiddle-{{ index }}"
                data-output="#fiddle-{{ index }}"
                data-replace="#fiddle-{{ index }}"
                data-replace-by="#wait"
                data-domajax-complete="#fiddle-{{ index }}"
                data-index="{{ index }}"
            >
                <span class="glyphicon glyphicon {% if bookmark %}glyphicon-star{% else %}glyphicon-star-empty{% endif %}"></span>
                {% if bookmark %}Unbookmark{% else %}Bookmark{% endif %}
            </button>

            {% if bookmark %}

                {# Edit #}
                <span id="edit-{{ index }}">
                    <button type="button" class="btn btn-tf-dark result-edit" data-index="{{ index }}">
                        <span class="glyphicon glyphicon-pencil"></span> Edit
                    </button>
                </span>

                {# Save #}
                <span id="save-{{ index }}" class="hide">
                    <button
                        type="button"
                        class="btn btn-tf-dark domajax click"
                        data-endpoint="{{ path('save_fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}"
                        data-input="#fiddle-{{ index }}"
                        data-output="#fiddle-{{ index }}"
                        data-replace="#fiddle-{{ index }}"
                        data-replace-by="#wait"
                        data-domajax-complete="#fiddle-{{ index }}"
                        data-index="{{ index }}"
                    >
                        <span class="glyphicon glyphicon glyphicon-floppy-disk hidden-md hidden-sm hidden-xs"></span>
                        Save
                    </button>
                </span>

            {% endif %}

         {% endif %}

         <a class="btn btn-tf-dark" href="{{ path('fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}">
           <span class="glyphicon glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span>
           Open
        </a>

     </div>

    {{
        form_widget(form._token, {
            'id': form._token.vars.id ~ '_' ~ index,
        })
    }}

     {{ form_end(form) }}

</div>

{% endblock %}

{% block script %}
    {% if isAjax %}

    <script type="text/javascript">

        $(document).ready(function() {
           putTagStyle();
        });

    </script>

    {% endif %}
{% endblock %}