{# FuzAppBundle:Browse:result.html.twig #}
{# Rendered by: FuzAppBundle:Browse:result #}

{% extends 'FuzAppBundle::base-ajax.html.twig' %}

{% block content %}

{% set public = constant('Fuz\\AppBundle\\Entity\\Fiddle::VISIBILITY_PUBLIC') %}
{% set unlisted = constant('Fuz\\AppBundle\\Entity\\Fiddle::VISIBILITY_UNLISTED') %}
{% set private = constant('Fuz\\AppBundle\\Entity\\Fiddle::VISIBILITY_PRIVATE') %}

{%
    set visibilities = {
        (public): {
            'label': 'Public',
            'color': 'success',
        },
        (unlisted): {
            'label': 'Unlisted',
            'color': 'warning',
        },
        (private): {
            'label': 'Private',
            'color': 'danger',
        },
    }
%}

{% set index = fiddle.hash ~ '_' ~ fiddle.revision %}

{% set isMyFiddle = (is_granted('ROLE_USER') and fiddle.user|default(null) and app.user.isEqualTo(fiddle.user)) %}

<div class="row searchbloc">

    {{ form_start(form) }}

    <div class="col-md-12">

        {# General #}
        <p>
            {% if is_granted('ROLE_USER') %}
                <span class="label label-{{ visibilities[fiddle.visibility].color}}">{{ visibilities[fiddle.visibility].label|lower }}</span>
            {% endif %}
            Fiddle
            <a href="{{ path('fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}" class="green">{{ fiddle.hash }} {% if fiddle.revision > 1 %}v{{ fiddle.revision }}{% endif %}</a>
            created on {{ fiddle.creationTm|date }}
            {% if isMyFiddle %}by <i>yourself</i>{% else %}{{ macros.user('by', fiddle.user|default(null)) }}{% endif %}
        </p>

        {# Title #}
        <div>
            <p id="ro-{{ form.title.vars.id ~ '_' ~ index }}">
                {% if fiddle.title|length > 0 %}
                    {{ fiddle.title }}
                {% else %}
                    <span class="unavailable">(No title)</span>
                {% endif %}
            </p>
            <p id="input-{{ form.title.vars.id ~ '_' ~ index }}" class="hide">
                {{
                    form_widget(form.title, {
                        'id': form.title.vars.id ~ '_' ~ index,
                    })
                }}
            </p>
            <div id="error-{{ form.title.vars.id ~ '_' ~ index }}" class="error-container">{{ form_errors(form.title) }}</div>
        </div>

        {# Tags #}
        <div>
            <p id="ro-{{ form.tags.vars.id ~ '_' ~ index }}" class="{% if fiddle.tags|length == 0 %}hide{% endif %}">
                {% for tag in fiddle.tags %}
                    <span class="static-tag"><span>{{ tag.tag }}</span></span>
                {% endfor %}
            </p>
            <p id="input-{{ form.tags.vars.id ~ '_' ~ index }}" class="hide tags">
                {{
                    form_widget(form.tags, {
                        'attr': {
                            'class': 'tags-input',
                         },
                         'id': form.tags.vars.id ~ '_' ~ index,
                    })
                }}
            </p>
            <div id="error-{{ form.tags.vars.id ~ '_' ~ index }}" class="error-container">{{ form_errors(form.tags) }}</div>
        </div>

         {# Visits #}
        <p class="clear">
            Visited {{ fiddle.visitsCount }} time{% if fiddle.visitsCount != 1 %}s{% endif %}{% if fiddle.visitsCount > 0 %}, last one on  {{ fiddle.updateTm|date }}{% endif %}
        </p>

    </div>

     <div class="col-md-12">

         {{
            include('FuzAppBundle:Fiddle:bookmark.html.twig', {
                'data': fiddle,
                'bookmark': null,
                'hash': fiddle.hash,
                'revision': fiddle.revision,
                'label': true ? 'Bookmark' : 'Unbookmark',
            })
         }}

         {% if is_granted('ROLE_USER') and isMyFiddle == false %}

            <span class="edit-{{ index }}">
               <a class="btn btn-tf-dark" href="{{ path('fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}">
                 <span class="glyphicon glyphicon glyphicon-pencil hidden-md hidden-sm hidden-xs"></span>
                 Edit
              </a>
            </span>

            <span class="save-{{ index }} hide">
               <a class="btn btn-tf-dark" href="{{ path('save_fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}">
                 <span class="glyphicon glyphicon glyphicon-floppy-disk hidden-md hidden-sm hidden-xs"></span>
                 Save
              </a>
            </span>

         {% endif %}

         <a class="btn btn-tf-dark" href="{{ path('fiddle', {'hash': fiddle.hash, 'revision': fiddle.revision}) }}">
           <span class="glyphicon glyphicon glyphicon-folder-open hidden-md hidden-sm hidden-xs"></span>
           Open
        </a>

     </div>

    {{
        form_widget(form._token, {
            'id': form._token.vars.id ~ '_' ~ index,
        })
    }}

     {{ form_end(form) }}

</div>

{% endblock %}