{# FuzAppBundle:Login:content.html.twig #}
{# Included by: HWIOAuthBundle:Connect:login.html.twig #}
{# Included by: FuzAppBundle:User:modal.html.twig #}

{#
 # This file is part of twigfiddle.com project.
 #
 # (c) Alain Tiemblo <alain@fuz.org>
 #
 # For the full copyright and license information, please view the LICENSE
 # file that was distributed with this source code.
 #}

<div class="row" id="login">

    <div class="col-md-12 text-center">
        <h4>Login using any of the following services</h4>
    </div>

    <div class="clear">&nbsp;</div>

    <div class="col-md-1">
        &nbsp;
    </div>

    {# SensioLabs Connect #}
    <a
        title="Login using your SensioLabs Connect account"
        aria-label="Login using SensioLabs Connect account"
        href="{{ hwi_oauth_login_url('sensio_connect') }}"
        class="black">
        <div class="oauth sensio col-md-10">
            <img src="{{ asset('bundles/fuzapp/img/oauth/sensio_connect.png') }}" alt="SensioLabs Connect"/>
            <p>Click here to login using SensioLabs Connect</p>
        </div>
    </a>

    <div class="col-md-1">
        &nbsp;
    </div>

    <div class="clear">&nbsp;</div>

    <div class="col-md-1">
        &nbsp;
    </div>

    <div class="col-md-10">
        <div class="row" id="login">

            {# Google #}
            <a
                title="Login using your Google account"
                aria-label="Login using your Google account"
                href="{{ hwi_oauth_login_url('google') }}"
                class="black">
                <div class="oauth col-md-3">
                    <img src="{{ asset('bundles/fuzapp/img/oauth/google.png') }}" alt="Google"/>
                    <p>Login using Google</p>
                </div>
            </a>

            {# GitHub #}
            <a
                title="Login using your GitHub account"
                aria-label="Login using your GitHub account"
                href="{{ hwi_oauth_login_url('github') }}"
                class="black">
                <div class="oauth col-md-3">
                    <img src="{{ asset('bundles/fuzapp/img/oauth/github.png') }}" alt="GitHub"/>
                    <p>Login using GitHub</p>
                </div>
            </a>

            {# Facebook #}
            <a
                title="Login using your Facebook account"
                aria-label="Login using your Facebook account"
                href="{{ hwi_oauth_login_url('facebook') }}"
                class="black">
                <div class="oauth col-md-3">
                    <img src="{{ asset('bundles/fuzapp/img/oauth/facebook.png') }}" alt="Facebook"/>
                    <p>Login using Facebook</p>
                </div>
            </a>

             {# Twitter #}
            <a
                title="Login using your Twitter account"
                aria-label="Login using your Twitter account"
                href="{{ hwi_oauth_login_url('twitter') }}"
                class="black">
                <div class="oauth col-md-3">
                    <img src="{{ asset('bundles/fuzapp/img/oauth/twitter.png') }}" alt="Twitter"/>
                    <p>Login using Twitter</p>
                </div>
            </a>

        </div>
    </div>

    <div class="col-md-1">
        &nbsp;
    </div>

    <div class="clear">&nbsp;</div>
</div>
